theme: jekyll-theme-chirpy

lang: tr-TR

timezone: Europe/Istanbul

title: Batu

tagline:  # it will display as the sub-title.

description: >- # used by seo meta and the atom feed
  Kendi halinde gelişmeye çalışan biri.

url: "https://muzik.baturax.com.tr"

github:
  username: baturax

social:
  name: Batu
  email: 
  links:
    - https://github.com/baturax

google_site_verification: # fill in to your verification string

# ↑ --------------------------
# The end of `jekyll-seo-tag` settings

google_analytics:
  id: 

theme_mode: dark

img_cdn:

avatar: https://avatars.githubusercontent.com/u/68316278

toc: true

comments:
  active: giscus
  # Giscus options › https://giscus.app
  giscus:
    repo: "Baturax/baturax.github.io"
    repo_id: "R_kgDOK5YkwQ"
    category: "Fikrini Paylaş"
    category_id: "DIC_kwDOK5Ykwc4CbtnZ"
    mapping: "pathname"
    input_position: "left"
    lang: "tr"
    reactions_enabled: "1"
    crossorigin: "anonymous"

pwa:
  enabled: true # the option for PWA feature

paginate: 10

baseurl: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/
  - scope:
      path: assets/img/favicons
    values:
      swcache: true
  - scope:
      path: assets/js/dist
    values:
      swcache: true

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - rollup.config.js
  - package*.json

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
